/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .box {
    margin: 0 auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Register page styles */
  .form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-group button:hover {
    background-color: #3e8e41;
  }
  
  .form-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  
  /* Login page styles */
  .login-form-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form-group {
    margin-bottom: 20px;
  }
  
  .login-form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .login-form-group button:hover {
    background-color: #3e8e41;
  }
  
  .login-form-group .error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }
  